body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: #1f2937; */
    margin: 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
    padding-top: 20px;
}

.header-logo { 
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-right {
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: darkgray;
}

.hero-container {
    color: white;
    display: flex;
    padding-top: 150px;
    justify-content: space-between;
}

.hero-border {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
   
}

.hero-text {
    display: flex;
    flex-wrap: wrap;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.rectangle {
    background-color: darkgray;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 550px;
    margin-left: 65px;
    /* padding-right: 280px; */
}

.super-header {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
    max-width: 1100px;
    margin: 0 auto; /* Auto margins center it*/
    padding: 0px 200px 150px 200px; /* Top/Right/Bottom/Left padding */
    /* margin-left: 230px; Removed "margin hacks" with max width and 
    margin-right: 230px; auto margins centering it*/
   
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
}

button {
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    width: 150px;
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
}

.button-holder {
    display: flex;
    flex-direction: column;
}

.random-info {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding-top: 25px;
    padding-bottom: 25px;
}

.four-boxes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

.boxes {
    border: 5px solid #3882F6;
    width: 180px;
    height: 180px;
    margin: 5px;
    border-radius: 25px;
}

.four-texts-mess {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}

.boxtainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 200px;
}

.quote-box {
    display: flex;
    background-color: #E5E7EB;
    flex-direction: row;
    max-width: 1100px;
    max-height: 550px;
    margin: 0 auto; /* Auto margins center it*/
    padding: 200px 200px 200px 200px; /*Top/Right/Bottom/Left padding*/
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.quote,
.quote-master {
    font-size: 36px;
    font-weight: 300;
    color: #1f2937;
    font-style: italic;
    flex-wrap: wrap;
    text-align: center;
}

.quote {
    display: flex;
    max-width: 1100px;
    
}

.quote-master {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}

.quote-background {
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #E5E7EB; */
}

.call-container {
    display: flex;
    background-color: #3882F6;
    max-width: 1100px;
    margin: 0 auto; /* Auto margins center it*/
    padding: 50px 125px 50px 125px; /* Top/Right/Bottom/Left padding */
    /* flex: 0 0 550px */
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    
    
}

.call-background {
    display: flex;
    flex-direction: column;
    /* height: 400px;
    max-width: 800px; */
    justify-content: center;
    /* align-items: center; */
    margin: 0 auto;
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 100px;
}

.footer-container {
    display: flex;
    background-color: #1f2937;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    min-width: 1100px;
    max-height: 200px;
    margin: 0 auto;
    padding: 75px 200px 75px 200px; /* Top/Right/Bottom/Left padding */
}

.footer-text {
    color: white;
    display: flex;
}

.sign-up-border {
    border: 3px solid white;
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    /* font-weight: 1100; */
    /* margin-left: 50px; */
    /* padding-left: 50px; */
}