.header{
    color: white;
    display: flex;
    /* justify-content: flex-end; */
}

.header-container{
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
}

.header-logo { 
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.header-right {
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: black;
}