body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: #1f2937; */
    margin: 0;
}

.header-container{
    display: flex;
    justify-content: space-between;
    /* margin-top: 20px; */
    padding-top: 20px;
}

.header-logo { 
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.header-right {
    display: flex;
    gap: 15px;
}

a {
    text-decoration: none;
    color: darkgray;
}

.hero-container {
    color: white;
    display: flex;
    padding-top: 150px;
    justify-content: space-between;
}

.hero-border {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
   
}

.hero-text {
    display: flex;
    flex-wrap: wrap;
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.rectangle {
    background-color: darkgray;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 550px;
    margin-left: 65px;
    /* padding-right: 280px; */
}

.super-header {
    display: flex;
    background-color: #1f2937;
    flex-direction: column;
   
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
}

button {
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    width: 150px;
    margin-top: 10px;
    padding: 10px;
    font-size: 18px;
}

.width-container {
    max-width: 1100px;
    margin: 0 auto; /* Auto margins center it*/
    padding: 0px 200px 150px 200px; /* Top/Right/Bottom/Left padding */
    /* margin-left: 230px; Removed "margin hacks" with max width and 
    margin-right: 230px; auto margins centering it*/
}